@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.topic_name {
  @apply text-light-gray m-0 w-52 cursor-pointer border-none bg-none py-4 text-left text-[15px] no-underline;
}

.topic_name:hover {
  @apply text-main;
}

.topic_name:hover ~ .topic_count {
  @apply text-main;
}

.topic_count {
  @apply text-light-gray bg-dark cursor-pointer rounded-[3px] px-2.5 py-1 text-[13px];
}
